{% extends "app/layout.html" %}

{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block styles %}
    <style>
        .change-pass-page {
            min-height: 100vh; /* Sayfanın tamamını kapsar */
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f8ff; /* Arka plan rengi */
        }

        .change-pass-container {
            width: 400px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .form-group {
            width: 100%;
            margin-bottom: 15px;
        }

        .btn-primary {
            width: 50%; /* Butonun genişliği */
            margin: 0 auto; /* Butonu ortalar */
            display: block;
        }

        .login-form p {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="change-pass-page">
        <div class="change-pass-container">
            <h2 class="text-center mb-4">Change Password</h2>

            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            <form action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="old_password">Old Password</label>
                    <input autofocus class="form-control" type="password" name="old_password" id="old_password" placeholder="Old Password">
                </div>
                <div class="form-group mb-3">
                    <label for="new_password">New Password</label>
                    <input class="form-control" type="password" name="new_password" id="new_password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="confirmation">Confirm New Password</label>
                    <input class="form-control" type="password" name="confirmation" id="confirmation" placeholder="Confirm New Password">
                </div>
                <input class="btn btn-primary mt-3" type="submit" value="Change Password">
            </form>
        </div>
    </div>

{% endblock %}